html {
    font-family: $font-primary;
}
    // Heading 1
h1, .text-h1 {
    font-size: clamp(24px, 2.5vmax, 30px);
    font-weight: 700;
    text-transform: uppercase;
    margin-block: 1rem;
}

// Heading 2
h2, .text-h2 {
    font-size: clamp(20px, 2.4vw, 25px);
    font-weight: 700;
    text-transform: uppercase;
    margin-block: 1rem;
}

h3, .text-h3 {
    font-size: clamp(16px, 1.95vw, 20px);
    font-weight: 700;
    margin-block: 1rem;
}

// Speech Bubbles
// Button
.bubble, .button, button {
    font-size: clamp(16px, 2vw, 22px);
    font-weight: 600;
    text-transform: uppercase;
    margin-block: 1rem;
}

// Body Text
.body, p {
    font-size: clamp(15px, 1.085vw, 18px);
    font-weight: 400;
    margin-block: 1rem;
}

// Captions
.caption {
    font-size: 13px;
    font-weight: 400;
    margin-block: 1rem;
}
